{
    "presets": [
        "env",
        "react", ["babel-preset-es2015", {
            "modules": false,
            "loose": true
        }],
        "stage-0"
    ],
    "plugins": [
        ["styled-jsx/babel", {
            "optimizeForSpeed": true
        }]
    ]
}