afinn==0.1
appnope==0.1.0
APScheduler==3.5.1
asn1crypto==0.24.0
astroid==1.6.2
attrs==18.1.0
bleach==2.1.3
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
decorator==4.2.1
entrypoints==0.2.3
html5lib==1.0.1
idna==2.6
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
isort==4.3.4
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
langdetect==1.0.7
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.8.3
more-itertools==4.1.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
notebook==5.4.1
numpy==1.14.2
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
pluggy==0.6.0
praw==5.4.0
prawcore==0.14.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.3
pycparser==2.18
pyenchant==2.0.0
Pygments==2.2.0
pylint==1.8.3
pymongo==3.6.1
pyOpenSSL==17.5.0
pytest==3.5.1
python-dateutil==2.7.0
pytz==2018.3
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.1
traitlets==4.3.2
tzlocal==1.5.1
update-checker==0.16
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
wrapt==1.10.11
